html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #1e1e1e;
  color: #cccccc;
  font-family: Consolas, monospace;
}

* {
  box-sizing: border-box;
}